@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: black;
}

@layer utilities {
    .masonry {
        column-gap: 1.5em;
        column-count: 1;
    }
    .masonry-sm {
        column-gap: 1.5em;
        column-count: 2;
    }
    .masonry-md {
        column-gap: 1.5em;
        column-count: 3;
    }
    .break-inside {
        break-inside: avoid;
    }
}

.frosted-glass-black {
  background-color: rgba(26, 26, 26, 0.256);
  backdrop-filter: blur(20px);
  background-position: center center;
  background-size: cover;
  border: solid 2px rgba(255, 255, 255, 0.112);
}

.min-h-80 {
  min-height: 80vh;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    border-radius: 5px;
    background: #000000;
    border: none;
  }
  .modal-header {
    border: none;
    text-align: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    background: linear-gradient(180deg, #EC0B26 0%, #000000af 100%);
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  .modal-body {
    background: #000000;
    border-radius: 0px 0px 10px 10px;
  }
  .connect-wallet-item {
    border-bottom: 0.5px solid #ffffff;
    margin: 10px auto;
    padding: 10px 0;
    width: 90%;
    font-size: 26px;
  }
  .connect-wallet-item:last-child {
    border-bottom: none;
  }
  .wallet {
    cursor: pointer;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .wallet-icon {
    width: 50px;
    height: 50px;
    margin: 2px auto;
    margin-right: 30px;
    padding: 0;
  }
  .wallet-name {
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */
  
    letter-spacing: 0.03em;
  }
  .modal-title {
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
  
    letter-spacing: 0.03em;
  }
  .wallet-content {
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .wallet-icon {
      width: 35px;
      height: 35px;
      margin: 2px auto;
      margin-right: 30px;
      padding: 0;
    }
    .wallet-name {
      font-size: 18px;
    }
    .wallet-content {
      font-size: 13px;
    }
  }

@font-face {
  font-family: 'Notification';
  src: url("./assets/fonts/notification.eot");
  src: url("./assets/fonts/notification.eot") format("embedded-opentype"), url("./assets/fonts/notification.woff") format("woff"), url("./assets/fonts/notification.ttf") format("truetype"), url("./assets/fonts/notification.svg#notification") format("svg");
  font-weight: normal;
  font-style: normal;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.notification:hover, .notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-exit.notification-exit-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-family: 'Notification';
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.notification-info {
  background-color: #2f96b4;
}

.notification-info:before {
  content: "";
}

.notification-success {
  background-color: #51a351;
}

.notification-success:before {
  content: "";
}

.notification-warning {
  background-color: #f89406;
}

.notification-warning:before {
  content: "";
}

.notification-error {
  background-color: #bd362f;
}

.notification-error:before {
  content: "";
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    border-radius: 5px;
    background: #000000;
    border: none;
  }
  .modal-header {
    border: none;
    text-align: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    background: linear-gradient(180deg, #EC0B26 0%, #000000af 100%);
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  .modal-body {
    background: #000000;
    border-radius: 0px 0px 10px 10px;
  }
  .connect-wallet-item {
    border-bottom: 0.5px solid #ffffff;
    margin: 10px auto;
    padding: 10px 0;
    width: 90%;
    font-size: 26px;
  }
  .connect-wallet-item:last-child {
    border-bottom: none;
  }
  .wallet {
    cursor: pointer;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .wallet-icon {
    width: 50px;
    height: 50px;
    margin: 2px auto;
    margin-right: 30px;
    padding: 0;
  }
  .wallet-name {
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */
  
    letter-spacing: 0.03em;
  }
  .modal-title {
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
  
    letter-spacing: 0.03em;
  }
  .wallet-content {
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .wallet-icon {
      width: 35px;
      height: 35px;
      margin: 2px auto;
      margin-right: 30px;
      padding: 0;
    }
    .wallet-name {
      font-size: 18px;
    }
    .wallet-content {
      font-size: 13px;
    }
  }

  .avatar {
    width: 70px;
    height: 70px;
  }
  .check {
    width: 30px;
    height: 30px;
    margin-top: -70px;
  }
  .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: #ec0b26 darkgray;
    scrollbar-width: thin;
  }
  
  .items-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .items-container::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 3px;
  }
  
  .items-container::-webkit-scrollbar-thumb {
    background-color: #ec0b26;
    border-radius: 3px;
  }
  
  .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .item-desc {
    font-size: 10px;
    padding-top: 10px;
  }
  .item-price {
    font-size: 10px;
  }
  
  /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace); /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: theme('colors.gray.400', #9ca3af); /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}
